/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --hero-color: #B3D0E7;
    --button-color:#0160FF;
    --footer-color:#000000;
    --box1-color: #A2D39B;
    --box2-color: #61092B;
    --box3-color:#0093CE;
    --box4-color:#FF1B1C;
    --boxcenter-color:#F5F5F5;
    --box5-color:#D5001F;
    --box6-color:#0E2381;
    --box7-color:#FFD72F;
    --main-color:#FFFFFF;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.debug{
    border: 1px solid black;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
}

.inner-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
}

ul{
    list-style: none;
} 

a{
    text-decoration: none;
    display: inline-block;
}

img{
    display: block;
    width: 100%;
}

.mb-30{
    margin-bottom: 30px;
}

label{
    margin-right: 30px;
}

.link{
    text-decoration: underline;
}

.check{
    color: var(--button-color);
}



/* Flex tools */

.d-flex{
    display: flex;
    flex-direction: row;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
    align-content: center;
}

.align-start{
    align-items: flex-start;
    align-content: flex-start;
}

/* Button */

.btn{
    background-color: var(--button-color);
    color: var(--main-color) ;
    padding: 6px 12px;
    display: inline-block;
}


/* Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--main-color);
    height: 55px;
    padding: 15px;
    box-shadow: 1px 3px 3px grey;
    font-size: 0.9em;
}

header nav {
    height: 100%;
}

header nav a {
    padding: 6px 15px;
    color: var(--footer-color);
}

/* Main */

h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}

#hero{
    background-color: var(--hero-color);
    margin-bottom: 100px;
}
#hero .container{
    padding-top: 50px;
    position: relative;
    bottom: -70px;
}

.hero-left{
    width: 35%;
}

.hero-right{
    width: 65%;
}

.arrow{
    color: var(--footer-color);
}

#hero .fa-solid.fa-arrow-down{
    font-size: 2em;
    font-weight: bold;
}

#planes.container{
    margin-top: 100px;
}

.planes{
    width: 30%;
    border: 1px solid grey;
    font-size: 0.95em;
}

.planes-header{
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

.planes-body{
    padding: 15px;
}

#call-to-action{
    background-color: var(--hero-color);
}



/* Footer*/

footer{
    background-color: var(--footer-color);
    color: var(--main-color);
    padding: 30px 0px;
}

footer a {
    color: var(--main-color);
    padding: 6px 0px;
}